<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.stev.smart_community"
          android:versionCode="6"
          android:versionName="2.1.10">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <android:uses-permission android:name="android.permission.READ_CALL_LOG"/>

    <application
        android:name=".CommunityApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="4afp3qxGGrFx0v6LWNX5pbD9j7GTTRL7"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".home.NoticeActivity"/>
        <activity android:name=".home.TenementActivity"/>
        <activity android:name=".home.SmartLifeActivity"/>
        <activity android:name=".home.BillPaymentActivity"/>
        <activity android:name=".home.PaymentActivity"/>
        <activity android:name=".me.UserInfoActivity"/>
        <activity
            android:name=".smart.LampActivity"
            android:label="@string/title_activity_lamp"/>
        <activity
            android:name=".smart.AirConditionActivity"
            android:label="@string/title_activity_air_condition"/>
        <activity
            android:name=".smart.RefrigeratorActivity"
            android:label="@string/title_activity_refrigerator"/>
        <activity
            android:name=".smart.WashingMachineActivity"
            android:label="@string/title_activity_washing_machine"/>
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.RegisterActivity">
        </activity>
        <activity
            android:name=".me.AvatarActivity"
            android:label="@string/title_activity_avatar">
        </activity>
        <activity
            android:name=".me.UserInfoEditActivity"
            android:label="@string/title_activity_user_info_edit">
        </activity>
        <activity
            android:name=".me.EditNicknameActivity"
            android:label="@string/title_activity_edit_nickname">
        </activity>
        <activity
            android:name=".me.EditSinagtureActivity"
            android:label="@string/title_activity_edit_sinagture">
        </activity>
        <activity
            android:name=".me.EditPasswordActivity"
            android:label="@string/title_activity_edit_password">
        </activity>
        <activity
            android:name=".home.ShopProfileActivity"
            android:label="@string/title_activity_shop_profile">
        </activity>
        <activity
            android:name=".server.ServerProfileActivity"
            android:label="@string/title_activity_server_profile">
        </activity>
        <activity
            android:name=".server.ServerCategoryActivity"
            android:label="@string/title_activity_service_category">
        </activity>
        <activity android:name=".community.CommunityCategoryActivity">
        </activity>
        <activity android:name=".community.CommunityProfileActivity">
        </activity>
        <activity
            android:name=".me.SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name=".me.AboutActivity"
            android:label="@string/title_activity_about">
        </activity>
        <activity
            android:name=".me.SuggestActivity"
            android:label="@string/title_activity_suggest">
        </activity>
        <activity
            android:name=".me.VersionInfoActivity"
            android:label="@string/title_activity_version_info">
        </activity>
        <activity
            android:name=".home.WebviewUI"
            android:label="@string/title_activity_webview_ui">
        </activity>
    </application>

</manifest>